@import "../../../../../assets/_color.scss";	// needed for _buttons.scss...

$padding: 17px;
$header_font_size: 20px;

.modalHeader {
	background: $blue;
	padding: $padding;
	font-size: $header_font_size;
}

.title {
	float: left;
	color: white;
}

.exit {
	float: right;
	color: $dark-gray;
	cursor: pointer;
	// padding: $padding;
	// @include button($blue, $dark-gray);
}