$padding: 20px;

.modal {
	background: red;
	width: 500px;
}

// should go in utils
.show {
	display: block;
}

.hide {
	display: none;
}

.modalHeaderPosition {
	height: 25px;
	padding: $padding;
}

.textBlock {
	height: 200px;
	padding: $padding;
}