@import "../../../assets/_mixins.scss";
@import "../../../assets/_color.scss";	// needed for _buttons.scss...


$padding: 17px;			// NEED TO ABSTRACT - also in modal_header...!
$header_height: 25px;
$border_radius: 5px;

.modal {
	@include open-sans();
	@include border-radius-all(5px);
	background: white;
	width: 500px;
}

// should go in utils
.show {
	display: block;
}
.hide {
	display: none;
}

.modalHeaderPosition {
	@include border-radius($border_radius, $border_radius, 0, 0);
	height: $header_height;
	line-height: $header_height;
}

.textBlock {
	padding: $padding;
	color: $gray;
}